*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(210, 209, 209);
}

/* .container{
    max-width: 700px;
    margin: 0 auto;
} */

.head{
    margin-bottom: 20px;
    /* margin-left: 60px; */
    text-align: center;
}
.small_head{
    font-size: 18px;
}

.apply-box{
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.5);
}

.form-container{
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 200px 200px; */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    /* grid-template-areas: 
    "a b"
    "c d"
    "e e" */
    /* justify-content: center; */
    gap: 20px;
}

.textarea-control{
    grid-column: span 2;
}

.textarea-control textarea{
    width: 96%;
}

.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size:14px;
    margin-bottom: 4px;
}

input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    outline-color: red;
}

.button-container{
    display: flex;
    justify-content: end;
    margin-right: 25px;
}

button{
    padding: 5px 10px;
    transition: 0.3s ease-in;
    border-radius: 4px;
    margin-top: 20px;
    /* margin-bottom: 5px; */
}

button:hover{
    background-color: rgb(9, 9, 9);
    border: 2px solid grey;
    transition: 0.3s ease-out;
    cursor: pointer;
    color: white;
}

@media (max-width:460px){
    .textarea-control{
        grid-column: span 1;
    }   
}